@model AplicacaoWeb.Models.UsuarioModel

@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/Content/LoginStyle.css" rel="stylesheet" />
<title>Alterar Senha</title>
<div class="login">
    @using (Html.BeginForm("AlterarSenha", "Login", FormMethod.Post))
    {
        <h1>Alterar Senha</h1>
        @Html.HiddenFor(x => x.Id)
        <meta name="viewport" content="width=device-width" />
        <div>
            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", @placeholder = "Senha", @type = "password", @minlength = 6, @required = "required", @id = "pass" })
            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })

            <input type="password" name="senha2" id="confirm2" onkeyup="checkPass()" placeholder="Confirmação de Senha" required="required" />
            <span id="confirm-message2" class="confirm-message"></span>

        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block btn-large">Enviar</button>
        </div>
    }
</div>
<script>
    function checkPass() {
        //Store the password field objects into variables ...
        var password = document.getElementById('pass');
        var confirm = document.getElementById('confirm2');
        //Store the Confirmation Message Object ...
        var message = document.getElementById('confirm-message2');
        //Set the colors we will be using ...
        var good_color = "#rgba(0,0,0,0.3)";
        var bad_color = "#ff6666";
        //Compare the values in the password field
        //and the confirmation field
        if (password.value == confirm.value) {
            //The passwords match.
            //Set the color to the good color and inform
            //the user that they have entered the correct password
            confirm.style.backgroundColor = null;
            message.style.color = good_color;
            message.innerHTML = '';
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            confirm.style.backgroundColor = bad_color;
            message.style.color = bad_color;
            message.innerHTML = 'As senhas não batem';
        }
    }
</script>
